<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP.CO</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <!-- navbar starts here -->
    <div class="navbar">
        <a href="" class="element"><h1 class="icon-heading">SHOP.CO</h1></a>
        <a href="" class="element">
            <div class="sales">
                <div class="sale">sale</div>
                <div class="down-arrow"><img width="24" height="24" src="https://img.icons8.com/material-two-tone/24/expand-arrow--v1.png" alt="expand-arrow--v1"/></div>
            </div>
        </a>
        <a href="" class="element">On Sale</a>
        <a href="" class="element">New Arrivals</a>
        <a href="" class="element">Brands</a>
        <div class="search-container">
            <input type="text" placeholder="Search..." />
            <span class="search-icon">
                <img src="https://img.icons8.com/ios/50/search--v1.png" alt="search--v1" class="search-img"/>

            </span>
          </div>
        <a href="" class="element"><img width="25" height="25" src="https://img.icons8.com/ios/50/shopping-cart--v1.png" alt="shopping-cart--v1" class="cart-icon"/></a>
        <a href="" class="element"><img width="25" height="25" src="https://img.icons8.com/ios/50/user-male-circle--v1.png" alt="user-male-circle--v1" class="account-icon"/></a>
     </div>
    <!-- navbar ends here --> 
    <!--container start here-->
     <div class="container">
        <div class="content">
          <h1>FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
          <p>Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
          <button>Shop Now</button>
          <div class="stats">
            <div><strong>200+</strong><br>International Brands</div>
            <div><strong>2,000+</strong><br>High-Quality Products</div>
            <div><strong>30,000+</strong><br>Happy Customers</div>
          </div>
        </div>
        <div class="image">
          <img src="../assets/men-women.jpg" alt="Models">
        </div>
    </div>
    <div class="brands">
        <span>VERSACE</span>
        <span>ZARA</span>
        <span>GUCCI</span>
        <span>PRADA</span>
        <span>Calvin Klein</span>
      </div>    
    
     <!--container end here-->
    <!-- new Arrivals starts here -->
    <div class="new-arrivals">
      <h1 class="new-head">NEW ARRIVALS</h1>
      <div class="cards">
        <div class="card-1">
          <div class="card-top">
            <img src="../assets/card-1" alt="" height="250px" width="250px">
          </div>
          <div class="card-bottom">
            <p>T-shirt with Tape Details</p>
            <ul class="star-list">
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <li>4.3/5</li>
            </ul>
            <h3>$120</h3>
          </div>
        </div>
        <div class="card-2">
          <div class="card-top">
            <img src="../assets/card-2" alt="" height="250px" width="250px">
          </div>
          <div class="card-bottom">
            <p>Skinny Fit Jeans</p>
            <ul class="star-list">
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <!-- <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li> -->
              <li>4.3/5</li>
            </ul>
            <h3>$120</h3>
          </div>
        </div>
        <div class="card-3">
          <div class="card-top">
            <img src="../assets/card-3" alt="" height="250px" width="250px">
          </div>
          <div class="card-bottom">
            <p>Checkered Shirt</p>
            <ul class="star-list">
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <li>4.3/5</li>
            </ul>
            <h3>$120</h3>
          </div>
        </div>
        <div class="card-4">
          <div class="card-top">
            <img src="../assets/card-4" alt="" height="250px" width="250px">
          </div>
          <div class="card-bottom">
            <p>Sleeve Striped T-shirt</p>
            <ul class="star-list">
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li>
              <!-- <li><img src="../assets/star.png" alt="" width="18px" height="18px"></li> -->
              <li>4.3/5</li>
            </ul>
            <h3>$120</h3>
          </div>
        </div>
      </div>
      <a href="" class="view-btn">View All</a>
    </div>
    <!-- new Arrivals ends here -->
     <hr class="line">
      
</body>
</html>