<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP.CO</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <!-- navbar starts here -->
    <div class="navbar">
        <a href="" class="element"><h1 class="icon-heading">SHOP.CO</h1></a>
        <a href="" class="element">
            <div class="sales">
                <div class="sale">sale</div>
                <div class="down-arrow"><img width="24" height="24" src="https://img.icons8.com/material-two-tone/24/expand-arrow--v1.png" alt="expand-arrow--v1"/></div>
            </div>
        </a>
        <a href="" class="element">On Sale</a>
        <a href="" class="element">New Arrivals</a>
        <a href="" class="element">Brands</a>
        <div class="search-container">
            <input type="text" placeholder="Search..." />
            <span class="search-icon">
                <img src="https://img.icons8.com/ios/50/search--v1.png" alt="search--v1" class="search-img"/>

            </span>
          </div>
        <a href="" class="element"><img width="25" height="25" src="https://img.icons8.com/ios/50/shopping-cart--v1.png" alt="shopping-cart--v1" class="cart-icon"/></a>
        <a href="" class="element"><img width="25" height="25" src="https://img.icons8.com/ios/50/user-male-circle--v1.png" alt="user-male-circle--v1" class="account-icon"/></a>
     </div>
    <!-- navbar ends here --> 
     <!--container start here-->
     <div class="container">
        <div class="content">
          <h1>FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
          <p>Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
          <button>Shop Now</button>
          <div class="stats">
            <div><strong>200+</strong><br>International Brands</div>
            <div><strong>2,000+</strong><br>High-Quality Products</div>
            <div><strong>30,000+</strong><br>Happy Customers</div>
          </div>
        </div>
        <div class="image">
          <img src="../assets/men-women.jpg" alt="Models">
        </div>
    </div>
    <div class="brands">
        <span>VERSACE</span>
        <span>ZARA</span>
        <span>GUCCI</span>
        <span>PRADA</span>
        <span>Calvin Klein</span>
      </div>    
    
     <!--container end here-->
</body>
</html>