*{
    padding: 0;
    margin: 0;
}

/* navbar css starts here */

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(235, 199, 199, 1);
    height: 60px;
    padding-right: 20px;
}

.icon-heading{
    margin-left: 20px;
}

.sales{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.element{
    text-decoration: none;
    color: black;
}

.search-container {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 500px;
}
  
.search-container input {
    border: none;
    outline: none;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 10px 40px 10px 40px;
    width: 100%;
    font-size: 16px;
}
  
.search-icon {
    position: absolute;
    margin-left: 5px;
}

.search-img{
    width: 25px;
    height: 25px;
}
  

.cart-icon{
    margin-left: 20px;
}

.account-icon{
    margin-right: 30px;
}

/* navbar css ends here */
/* container css starts here */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
  }
  
  .content {
    max-width: 600px;
  }
  
  .content h1 {
    font-size: 40px;
    font-weight: 800;
  }
  
  .content p {
    font-size: 16px;
    margin: 20px 0;
    line-height: 1.6;
  }
  button {
    background-color: black;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .stats {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    font-size: 15px;
  }
  
  .image img {
    max-width: 350px;
    width: 100%;
    height: auto;
  }
  
  .brands {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
  }

/* container css ends here */

